@model List<GameHub.Helpers.ViewModelScore>


@{
    ViewBag.Title = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Scores</h2>

<form method="get">
    <label>Choose game:</label>
    <select name="game" onchange="this.form.submit()">
        <option value="">-- all --</option>
        @foreach (var game in ViewBag.Games as List<GameHub.Models.Game>)
        {
            <option value="@game.name" @(Request["game"] == game.name ? "selected" : "")>@game.name</option>
        }
    </select>
</form>

<table class="table">
    <tr><th>Username</th><th>Game</th><th>Points</th><th>Date</th></tr>
    @foreach (var s in Model)
    {
        <tr>
            <td>@s.Username</td>
            <td>@s.GameName</td>
            <td>@s.Points</td>
            <td>@s.Date.ToShortDateString()</td>
        </tr>
    }
</table>