@model List<GameHub.Models.Score>


@{
    ViewBag.Title = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Wyniki</h2>

<form method="get">
    <label>Wybierz grę:</label>
    <select name="game" onchange="this.form.submit()">
        <option value="">-- wszystkie --</option>
        @foreach (var game in ViewBag.Games as List<GameHub.Models.Game>)
        {
            <option value="@game.name">@game.name</option>
        }
    </select>
</form>

<table class="table">
    <tr><th>Nick</th><th>Gra</th><th>Punkty</th><th>Data</th></tr>
    @foreach (var s in Model)
    {
        <tr>
            <td>@s.user.username</td>
            <td>@s.game.name</td>
            <td>@s.points</td>
            <td>@s.date.ToShortDateString()</td>
        </tr>
    }
</table>